---
import { t } from "i18next";
---

<button
  id="darkModeToggle"
  class="px-4 py-2 rounded bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white"
  data-light-text={t("site.toggle_light_mode")}
  data-dark-text={t("site.toggle_dark_mode")}
>
</button>

<script>
  const darkModeToggle = document.getElementById("darkModeToggle");

  function updateButtonText(isDark: boolean) {
    if (darkModeToggle) {
      const lightText =
        darkModeToggle.getAttribute("data-light-text") || "Light Mode";
      const darkText =
        darkModeToggle.getAttribute("data-dark-text") || "Dark Mode";

      darkModeToggle.textContent = isDark ? lightText : darkText;
    }
  }

  function setDarkMode(isDark: boolean) {
    document.documentElement.classList.toggle("dark", isDark);
    localStorage.setItem("darkMode", isDark.toString());
    updateButtonText(isDark);
  }

  // Initialize dark mode based on localStorage or system preference
  const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const storedDarkMode = localStorage.getItem("darkMode");
  const initialDarkMode =
    storedDarkMode !== null ? storedDarkMode === "true" : prefersDark;
  setDarkMode(initialDarkMode);

  // Toggle dark mode on button click
  darkModeToggle?.addEventListener("click", () => {
    const isDark = document.documentElement.classList.toggle("dark");
    setDarkMode(isDark);
  });

  // Listen for system preference changes
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (e) => {
      if (localStorage.getItem("darkMode") === null) {
        setDarkMode(e.matches);
      }
    });
</script>
